/**
 * Bryant Hansen
 */

/*****************************************************/
/** Layout */
/*****************************************************/
html {
    height: 99%;
}
body {
    text-align: left;
    height: 99%;
    width: 100%;
}
h1 {
    margin: 0%;
    padding: 0%;
}
/*
div {
    margin: 1%;
}
*/
div.footer {
    position: absolute;
}
table.layout, div.outer {
    height: 100%;
    width: 100%;
}
tr.header {
    height: 5%;
}
tr.footer {
    height: 5%;
}
td.slider {
    width: 50%;
}
td.picture {
}
div.slider,
div.slider_inner
{
    display: block;
}
div.slider {
    display: block;
    position: relative;
    top: 1%;
    left: 3%;
    height: 80%;
    width: 98%;
    margin: 1%;
    padding-bottom: 0%;
    text-align: left;
}
div.slider_inner {
    float: left;
    width: 50%;
    height: 100%;
}
div#arrow {
    position: relative;
    float: left;
    width: 20%;
    top: 92.7%;
    left: -3%;
    height: 20%;
}
input {
    width: 20em;
}
table.stats td:nth-child(n+0) {
    text-align: right;
}


/*****************************************************/
/** Colors */
/*****************************************************/
html {
    background-color: #D0D0D0;
}
body {
    color: #101010;
    background-color: #E0E0E0;
}
div.outer {
    background-color: #F0F0F0;
}


/*****************************************************/
/** Fonts */
/*****************************************************/
h1 {
    font-family: Arial, Helvetica, sans-serif;
}


/*****************************************************/
/** Graphics */
/*****************************************************/
div.slider_inner {
    background: url(ruler3.svg) no-repeat top right;
    background-size: auto 100%;
    background-position: right center;
}
div#arrow {
    background: url(arrow.svg) no-repeat top left;
    background-size: 100% 100%;
}


/*****************************************************/
/** Borders */
/*****************************************************/
/*
div, table.layout, table.layout td {
    border: solid;
    border-width: 1px;
}
*/
div.slider_inner {
    border-color: #C01010;
}
div.outer {
    border-color: #10C0C0;
}
div.slider {
    border-color: #C010C0;
}
div.arrow {
    border-color: #C0C010;
}
table {
    border-color: #808080;
}

/*****************************************************/
/** Fancy */
/*****************************************************/


